<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>下载失败数据</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" media="all">
</head>
<body>
<img src="https://s1.xoimg.com/i/2022/06/21/yse6r8.jpg" id="preview" style="position: absolute;
    width: 500px;
    margin-top: 100px;
    z-index: 22;
    margin-left: 303px;
    display: none;" alt="图片加载失败">
<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">

        <button class="layui-btn layui-btn-sm" lay-event="isTips">Tips：点击Url打开原网页</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="copy"><i class="layui-icon layui-icon-list"></i></a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="reDownload"><i class="layui-icon layui-icon-release"></i></a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i></a>
</script>


<script src="https://www.layuicdn.com/layui-v2.6.8/layui.js"></script>

<script type="text/javascript">
    function showimg(url) {
        $('#preview').css('display', 'block')
        $('#preview').attr('src', url)
    }

    function closeImg() {
        $('#preview').css('display', 'none')
    }

    layui.use('table', function () {
        const table = layui.table;
        table.render({
            elem: '#test'
            , url: '/fiu'
            , toolbar: '#toolbarDemo'
            , title: '失败信息表'
            , totalRow: true
            , cellMinWidth: 80
            , cols: [[{field: 'id', title: 'ID', sort: true, width: 80, totalRowText: '合计',templet: function (res) {
                return '<a id="title" onmouseleave = "closeImg()" onmouseover="showimg(\''+ res.url +'\')" >' + res.id + '</a>'
                }}
                , {
                    field: 'title', title: '主题', align: 'center',templet: function (res) {
                return '<a id="title" href="/rePreview_one?url=' + res.url + '" onmouseleave = "closeImg()" onmouseover="showimg(\''+ res.url +'\')" >' + res.title + '</a>'
                }}
                , {field: 'url', title: 'Url', align: 'center', sort: true}
                , {field: 'reason', title: '原因', align: 'center', sort: true}
                , {field: 'create_date', title: '创建时间', align: 'center', sort: true}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', align: 'center', minWidth: 142}
            ]]
            , page: true
        });

        //工具栏事件
        table.on('toolbar(test)', function (obj) {
            const checkStatus = table.checkStatus(obj.config.id);
            let value;
            switch (obj.event) {
                case 'getCheckData':
                    value = checkStatus.data;
                    layer.alert(JSON.stringify(value));
                    break;
                case 'getCheckLength':
                    value = checkStatus.data;
                    layer.msg('选中了：' + value.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选')
                    break;
                case 'isTips':
                    layer.msg('Tips：点击Url可打开原网页哦！')
                    break;
            }
        });
        //监听行工具事件
        table.on('tool(test)', function (obj) {
            const data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url: '/delImgData', method: 'post', data: {
                            'type': 0, 'id': data.id
                        }, success: function (data) {
                            if (200 === data.code || '200' === data.code) {
                                obj.del();
                                layer.close(index);
                            } else {
                                layer.close(index);
                                layer.msg('删除失败')
                            }
                        }
                    })
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2
                    , value: data.url
                }, function (value, index) {
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'copy') {
                const flag = copyText(data.url); //传递文本
                layer.msg(flag ? "复制成功！" : "复制失败！");
            } else if (obj.event === 'reDownload') {
                $.ajax({
                    url: '/addReImg', method: 'post', data: {
                        'type': 0, 'id': data.id
                    }, success: function (data) {
                        if (200 === data.code || '200' === data.code) {
                            obj.del();
                            layer.msg(data.msg)
                        } else {
                            layer.msg(data.msg)
                        }
                    }
                })
            }
        });
    });

    function copyText(text) {
        const textarea = document.createElement("input");//创建input对象
        const currentFocus = document.activeElement;//当前获得焦点的元素
        document.body.appendChild(textarea);//添加元素
        textarea.value = text;
        textarea.focus();
        if (textarea.setSelectionRange)
            textarea.setSelectionRange(0, textarea.value.length);//获取光标起始位置到结束位置
        else
            textarea.select();
        let flag;
        try {
            flag = document.execCommand("copy");//执行复制
        } catch (eo) {
            flag = false;
        }
        document.body.removeChild(textarea);//删除元素
        currentFocus.focus();
        return flag;
    }
</script>

</body>
</html>