<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>爬虫后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" media="all">
    <script type="text/javascript">
        function open_page(title) {
            switch (title) {
                case 'quality_9':
                    window.sessionStorage['quality'] = 9
                    $('iframe').attr('src', 'quality?quality=9');
                    break;
                case 'quality_8':
                    window.sessionStorage['quality'] = 8
                    $('iframe').attr('src', 'quality?quality=8');
                    break;
                case 'quality_7':
                    window.sessionStorage['quality'] = 7
                    $('iframe').attr('src', 'quality?quality=7');
                    break;
                case 'quality_6':
                    window.sessionStorage['quality'] = 6
                    $('iframe').attr('src', 'quality?quality=6');
                    break;
                case 'quality_5':
                    window.sessionStorage['quality'] = 5
                    $('iframe').attr('src', 'quality?quality=5');
                    break;
                case 'quality_4':
                    window.sessionStorage['quality'] = 4
                    $('iframe').attr('src', 'quality?quality=4');
                    break;
                case 'quality_3':
                    window.sessionStorage['quality'] = 3
                    $('iframe').attr('src', 'quality?quality=3');
                    break;
                case 'quality_2':
                    window.sessionStorage['quality'] = 2
                    $('iframe').attr('src', 'quality?quality=2');
                    break;
                case 'quality_1':
                    window.sessionStorage['quality'] = 1
                    $('iframe').attr('src', 'quality?quality=1');
                    break;
                case 'quality_0':
                    window.sessionStorage['quality'] = 0
                    $('iframe').attr('src', 'quality?quality=0');
                    break;
                default:
                    $('iframe').attr('src', title)

            }

        }
    </script>
    <style>
        /* 移动端 */
        @media screen and (max-width: 768px) {
            .layui-layout-admin .layui-layout-left,
            .layui-layout-admin .layui-body,
            .layui-layout-admin .layui-footer {
                left: 0;
            }
        }
    </style>
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">
            <img
                    src="https://s2.loli.net/2022/06/13/oIFlR9tV1QiOfZm.jpg"
                    tppabs="https://s2.loli.net/2022/06/13/oIFlR9tV1QiOfZm.jpg"
                    class="layui-nav-img" alt="">爬虫后台
        </div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <!-- web、移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block " lay-header-event="menuLeft">
                <a href="javascript:;"> <i id="leftEnumIcon" class="layui-icon layui-icon-shrink-right"></i></a>
            </li>
            <!--刷新局部页面-->
            <li class="layui-nav-item">
                <a href="javascript:;" onclick="document.getElementById('demoAdmin').contentWindow.location.reload()" title="刷新页面">
                    <i class="layui-icon layui-icon-refresh-1" style="color: #eeffef;"></i>
                </a>
            </li>

            {#                    <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">#}
            {#                        <i class="layui-icon layui-icon-shrink-right"></i>#}
            {#                    </li>#}
            {##}
            {#                    <li class="layui-nav-item layui-hide-xs"><a href="">nav 1</a></li>#}
            {#                    <li class="layui-nav-item layui-hide-xs"><a href="">nav 2</a></li>#}
            {#                    <li class="layui-nav-item layui-hide-xs"><a href="">nav 3</a></li>#}
            {#                    <li class="layui-nav-item">#}
            {#                        <a href="javascript:;">nav groups</a>#}
            {#                        <dl class="layui-nav-child">#}
            {#                            <dd><a href="">menu 11</a></dd>#}
            {#                            <dd><a href="">menu 22</a></dd>#}
            {#                            <dd><a href="">menu 33</a></dd>#}
            {#                        </dl>#}
            {#                    </li>#}


        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-show-md-inline-block">
                <a href="javascript:;">
                    <img src="https://s2.loli.net/2022/06/13/oIFlR9tV1QiOfZm.jpg"
                         tppabs="https://s2.loli.net/2022/06/13/oIFlR9tV1QiOfZm.jpg"
                         class="layui-nav-img">
                    {% if data %}{{ data.get('username') }}{% endif %}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="{{ url_for('user.sensitive') }}">Sensitive</a></dd>
                    <dd><a href="{{ url_for('login.logoff') }}">Sign out</a></dd>
                </dl>
            </li>
            {#            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>#}
            {#                <a href="javascript:;">#}
            {#                    <i class="layui-icon layui-icon-more-vertical"></i>#}
            {#                </a>#}
            {#            </li>#}
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-home" style="font-size: 14px; margin-right: 5px;"></i>
                        <cite>下载状态数据</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this"><a href="javascript:;" onclick="open_page('success')">
                            <i class="layui-icon layui-icon-ok" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>成功主题数据</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('successImg')">
                            <i class="layui-icon layui-icon-face-smile" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>成功图片数据</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('fail')">
                            <i class="layui-icon layui-icon-close" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>失败主题数据</cite></a></dd>
                         <dd><a href="javascript:;" onclick="open_page('failImg')">
                            <i class="layui-icon layui-icon-face-cry" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>失败图片数据</cite>
                        </a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-component" style="font-size: 14px; margin-right: 5px;"></i>
                        <cite>重下与日志表</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="open_page('reDownload')">
                            <i class="layui-icon layui-icon-refresh" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>页面重下列表</cite>
                        <dd><a href="javascript:;" onclick="open_page('reImgDownload')">
                            <i class="layui-icon layui-icon-refresh" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>图片重下列表</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('log')">
                            <i class="layui-icon layui-icon-list" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>日志</cite>
                        </a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-template" style="font-size: 14px; margin-right: 5px;"></i>
                        <cite>下载全量统计</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="open_page('quality4list')">
                            <i class="layui-icon layui-icon-ok-circle" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>质量评价统计</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('stats4hour')">
                            <i class="layui-icon layui-icon-list" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>过去24时统计</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('stats4day')">
                            <i class="layui-icon layui-icon-list" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>下载按日统计</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('stats4month')">
                            <i class="layui-icon layui-icon-list" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>下载按月统计</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('stats4year')">
                            <i class="layui-icon layui-icon-list" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>下载按年统计</cite>
                        </a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-senior" style="font-size: 14px; margin-right: 5px;"></i>
                        <cite>质量分类统计</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="open_page('quality_8')">
                            <i class="layui-icon layui-icon-template-1" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>巨顶质量数据</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('quality_7')">
                            <i class="layui-icon layui-icon-template-1" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>顶级质量数据</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('quality_6')">
                            <i class="layui-icon layui-icon-template-1" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>超高质量数据</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('quality_5')">
                            <i class="layui-icon layui-icon-template-1" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>高清质量数据</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('quality_4')">
                            <i class="layui-icon layui-icon-template-1" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>标清质量数据</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('quality_3')">
                            <i class="layui-icon layui-icon-template-1" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>清晰质量数据</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('quality_2')">
                            <i class="layui-icon layui-icon-template-1" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>一般质量数据</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('quality_1')">
                            <i class="layui-icon layui-icon-template-1" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>劣质质量数据</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('quality_0')">
                            <i class="layui-icon layui-icon-template-1" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>垃圾质量数据</cite>
                        </a></dd>
                        <dd><a href="javascript:;" onclick="open_page('quality_9')">
                            <i class="layui-icon layui-icon-template-1" style="font-size: 14px; margin-right: 5px;"></i>
                            <cite>含有动图数据</cite>
                        </a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" id="getbody">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <iframe src="/success" id="demoAdmin" style="width: 100%; min-height: 600px; border-radius: 2px;"
                    frameborder="0" target="_top"></iframe>
        </div>
    </div>

    <div class="layui-footer" id="getfooter">
        <!-- 底部固定区域 -->
        爬虫后台数据管理
    </div>
</div>
<script src="https://www.layuicdn.com/layui-v2.6.8/layui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        getWindowInfo()
    });
    //JS
    const getWindowInfo = () => {
        const bodyweight = document.getElementById("getbody").offsetHeight - document.getElementById("getfooter").offsetHeight - 30
        $('iframe').css('height', bodyweight)
    };
    //防抖
    const debounce = (fn, delay) => {
        let timer;
        return function () {
            if (timer) {
                clearTimeout(timer);
            }
            timer = setTimeout(() => {
                fn();
            }, delay);
        }
    };
    const cancalDebounce = debounce(getWindowInfo, 300);
    window.addEventListener('resize', cancalDebounce);

    layui.use(['element', 'layer', 'util'], function () {
        var element = layui.element
            , layer = layui.layer
            , util = layui.util
            , $ = layui.$;

        //头部事件
        util.event('lay-header-event', {
            //左侧菜单事件
            menuLeft: function (othis) {

                var btn = $("#leftEnumIcon");
                if (btn.hasClass('layui-icon-shrink-right')) {
                    menuHide(btn);
                    btn.addClass('btn-index');
                } else if (btn.has('layui-icon-spread-left')) {
                    btn.removeClass('btn-index');
                    menuShow(btn);
                }

                $(window).resize(function () {
                    var width = $(document.body).width();
                    var btn = $("leftEnumIcon");
                    if (width < 1000) {
                        if (btn.hasClass('layui-icon-shrink-right')) {
                            menuShow(btn);
                        }
                    } else {
                        if (!btn.hasClass('btn-index')) {
                            if (btn.hasClass('layui-icon-spread-left')) {
                                menuHide(btn);

                            }
                        }
                    }
                });

                function menuShow(btn) {
                    btn.removeClass('layui-icon-spread-left').addClass('layui-icon-shrink-right');
                    $(".layui-side").animate({width: 'toggle'});
                    $(".zq-logo").animate({width: 'toggle'});
                    $(".layui-body").animate({left: '200px'});
                    $(".layui-footer").animate({left: '200px'});
                }

                function menuHide(btn) {
                    btn.removeClass(' layui-icon-shrink-right').addClass('layui-icon-spread-left');
                    $(".layui-side").animate({width: 'toggle'}); //toggle如果原来div是隐藏的就会把元素显示，如果原来是显示则隐藏
                    $(".zq-logo").animate({width: 'toggle'});
                    $(".layui-body").animate({left: '0px'});
                    $(".layui-footer").animate({left: '0px'});
                }
            }
        });

    });
</script>

</body>
</html>
