<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>质量评价表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/echarts/5.3.3/echarts.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" media="all">
</head>
<body>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <div id="main" style="width: 100%;min-height:590px;"></div>
<script type="text/javascript">
    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    var option;
    $.ajax({
        url: '/statsData', method: 'post', success: function (data) {
            const jsonObject = jQuery.parseJSON(data);
            const type = Number(jsonObject.type)
            const data_list = (jsonObject.data).reverse()
            let xAxis_data = []
            let ALL_data = []
            let Img_data = []
            let pc_data = []
            let phone_data = []
            for (let i = 0; i < data_list.length; i++) {
                const title = data_list[i].title
                const all_size = Number(data_list[i].all_size).toFixed(2)
                const img_size = data_list[i].img_nums
                const pc = data_list[i].pcImg
                const phone = data_list[i].phoneImg
                xAxis_data.push(title.substring(title.length - type))
                ALL_data.push(all_size)
                Img_data.push(img_size)
                pc_data.push(pc)
                phone_data.push(phone)
            }

            option = {
                color: ['#FF0087','#80FFA5', '#FFBF00' ,'#37A2FF'],
                title: {
                    text: ''
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['Size', 'ALL', 'PC', 'Phone']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: xAxis_data
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: 'Size',
                        type: 'line',
                        smooth: true,
                         lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 0, 135)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(135, 0, 157)'
                                }
                            ])
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: ALL_data
                    },
                    {
                        name: 'ALL',
                        type: 'line',
                        smooth: true,
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(128, 255, 165)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(1, 191, 236)'
                                }
                            ])
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: Img_data
                    },
                    {
                        name: 'PC',
                        type: 'line',
                        smooth: true,
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        label: {
                            show: true,
                            position: 'top'
                        },
                        areaStyle: {
                            opacity: 0.8,
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 191, 0)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(224, 62, 76)'
                                }
                            ])
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: pc_data
                    },
                    {
                        name: 'Phone',
                        type: 'line',
                        smooth: true,
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(55, 162, 255)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(116, 21, 219)'
                                }
                            ])
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: phone_data
                    },
                ]
            };
            option && myChart.setOption(option);


        }
    })
</script>


<script src="https://www.layuicdn.com/layui-v2.6.8/layui.js"></script>

<script type="text/javascript">
    layui.use('table', function () {
        const table = layui.table;
        table.render({
            elem: '#test'
            , url: '/statsData'
            , toolbar: '#toolbarDemo'
            , title: '质量评价表'
            , totalRow: true
            , cellMinWidth: 80
            , cols: [[{
                field: 'title', title: '下载时间', align: 'center', totalRowText: '合计', sort: true,
            }
                , {
                    field: 'all_size',
                    title: '下载大小',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        let num = Number(res.all_size);
                        if (num < 1024) {
                            num = num.toFixed(2);
                            return num + 'MB'
                        } else if (num < 10240) {
                            num = num / 1024
                            num = num.toFixed(2);
                            return num + 'GB'
                        } else if (num < 102400) {
                            num = num / 10240
                            num = num.toFixed(2);
                            return num + 'TB'
                        } else if (num < 1024000) {
                            num = num / 102400
                            num = num.toFixed(2);
                            return num + 'PB'
                        }
                    }
                }
                , {
                    field: 'img_nums',
                    title: '壁纸总数',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.img_nums).toFixed(0) + 'P'
                    }
                }
                , {
                    field: 'pcImg',
                    title: '电脑壁纸',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.pcImg).toFixed(0) + 'P'
                    }
                }
                , {
                    field: 'phoneImg',
                    title: '手机壁纸',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.phoneImg).toFixed(0) + 'P'
                    }
                }
                , {
                    field: 'quality0',
                    title: '垃圾',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.quality0).toFixed(0)
                    }
                }
                , {
                    field: 'quality1',
                    title: '劣质',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.quality1).toFixed(0)
                    }
                }
                , {
                    field: 'quality2',
                    title: '一般',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.quality2).toFixed(0)
                    }
                }
                , {
                    field: 'quality3',
                    title: '清晰',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.quality3).toFixed(0)
                    }
                }
                , {
                    field: 'quality4',
                    title: '标清',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.quality4).toFixed(0)
                    }
                }
                , {
                    field: 'quality5',
                    title: '高清',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.quality5).toFixed(0)
                    }
                }
                , {
                    field: 'quality6',
                    title: '超高',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.quality6).toFixed(0)
                    }
                }
                , {
                    field: 'quality7',
                    title: '顶级',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.quality7).toFixed(0)
                    }
                }
                , {
                    field: 'quality8',
                    title: '巨顶',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.quality8).toFixed(0)
                    }
                }
                , {
                    field: 'quality9',
                    title: '动图',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.quality9).toFixed(0)
                    }
                }
                , {
                    field: 'quality_1',
                    title: '未知',
                    align: 'center',
                    totalRow: true,
                    sort: true,
                    templet: function (res) {
                        return Number(res.quality_1).toFixed(0)
                    }
                }
            ]]
            , page: true
        });
    });
</script>

</body>
</html>