<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>下载成功数据</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/echarts/5.3.3/echarts.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<table class="layui-hide" id="test" lay-filter="test"></table>
<div id="main" style="width: 100%;min-height:600px;"></div>

<script type="text/javascript">
    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    var option;
    $.ajax({
        url: '/spu', method: 'post', success: function (data) {
            const jsonObject = jQuery.parseJSON(data);
            const data_list = (jsonObject.data).reverse()
            let xAxis_data = []
            let all_size_data = []
            let avg_size_data = []
            let pcImg_data = []
            let phoneImg_data = []
            let img_size_data = []
            for (let i = 0; i < data_list.length; i++) {
                xAxis_data.push(data_list[i].id)
                const all_size = Number(data_list[i].all_size).toFixed(2)
                all_size_data.push(all_size)
                const avg_size = Number(data_list[i].avg_size).toFixed(2)
                avg_size_data.push(avg_size)
                pcImg_data.push(data_list[i].pcImg)
                phoneImg_data.push(data_list[i].phoneImg)
                img_size_data.push(data_list[i].img_size)
            }

            option = {
                color: ['#FF0087', '#80FFA5', '#FFBF00', '#37A2FF', '#00DDFF'],
                title: {
                    text: ''
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data: ['尺寸', '平均', '总数', '手机', '电脑']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: xAxis_data
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: '尺寸',
                        type: 'line',

                        smooth: true,
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 0, 135)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(135, 0, 157)'
                                }
                            ])
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: all_size_data
                    },
                    {
                        name: '平均',
                        type: 'line',
                        smooth: true,
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(128, 255, 165)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(1, 191, 236)'
                                }
                            ])
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: avg_size_data
                    },
                    {
                        name: '总数',
                        type: 'line',
                        smooth: true,
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        label: {
                            show: true,
                            position: 'top'
                        },
                        areaStyle: {
                            opacity: 0.8,
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 191, 0)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(224, 62, 76)'
                                }
                            ])
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: img_size_data
                    },
                    {
                        name: '手机',
                        type: 'line',
                        smooth: true,
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(55, 162, 255)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(116, 21, 219)'
                                }
                            ])
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: phoneImg_data
                    },
                    {
                        name: '电脑',
                        type: 'line',
                        smooth: true,
                        lineStyle: {
                            width: 0
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(0, 221, 255)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(77, 119, 255)'
                                }
                            ])
                        },
                        emphasis: {
                            focus: 'series'
                        },
                        data: pcImg_data
                    },
                ]
            };
            option && myChart.setOption(option);


        }
    })
</script>
<style>
    /* 移动端 */
    @media screen and (max-width: 768px) {
        .stats {
            display: none;
        }
    }
</style>


<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        {#        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>#}
        {#        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>#}
        {#        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>#}
        <button class="layui-btn layui-btn-sm" lay-event="isTips">Tips：点击标题打开原网页</button>
        {% if data %}
            <button class="layui-btn layui-btn-sm stats">
                总计大小：{{ data.all_size }}，图片总数：{{ data.img_size }}P，手机壁纸：{{ data.phones }}P，电脑壁纸：{{ data.pcs }}P，最后下载时间：{{ data.last_time }}</button>
        {% endif %}
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn  layui-btn-normal layui-btn-xs" lay-event="copy">复制</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="reDownload">重下</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script src="https://www.layuicdn.com/layui-v2.6.8/layui.js"></script>

<script type="text/javascript">
    layui.use('table', function () {
        const table = layui.table;
        table.render({
            elem: '#test'
            , url: '/spu'
            , toolbar: '#toolbarDemo'
            , title: '成功信息表'
            , totalRow: true
            , cellMinWidth: 80
            , cols: [[{field: 'id', title: 'ID', sort: true, totalRowText: '合计'}
                , {
                    field: 'title', title: '标题', align: 'center', templet: function (res) {
                        return '<a href=/preview?id=' + res.id + '>' + res.title + '</a>'
                    }
                }
                , {
                    field: 'kind', title: '分类', align: 'center', sort: true, templet: function (res) {
                        switch (res.kind) {
                            case 0:
                                return '亚洲'
                            case 1:
                                return '写真'
                            case 2:
                                return '自拍'
                            default:
                                return res.kind

                        }
                    }
                }
                , {
                    field: 'quality', title: '质量', align: 'center', sort: true
                }
                , {
                    field: 'all_size',
                    title: '总大小',
                    align: 'center',
                    sort: true,
                    totalRow: true,
                    templet: function (res) {
                        let num = Number(res.all_size);
                        if (num < 1024) {
                            num = num.toFixed(2);
                            return num + 'MB'
                        } else if (num < 1024 * 1024) {
                            num = num / 1024
                            num = num.toFixed(2);
                            return num + 'GB'
                        }
                    }
                }
                , {
                    field: 'avg_size',
                    title: '平均大小',
                    align: 'center',
                    sort: true,
                    totalRow: true,
                    templet: function (res) {
                        return Number(res.avg_size).toFixed(2) + 'MB'
                    }
                }
                , {
                    field: 'img_size',
                    title: '图片个数',
                    align: 'center',
                    sort: true,
                    totalRow: true,
                    templet: function (res) {
                        return Number(res.img_size).toFixed(0) + 'P'
                    }
                }
                , {
                    field: 'pcImg',
                    title: '电脑壁纸',
                    align: 'center',
                    sort: true,
                    totalRow: true,
                    templet: function (res) {
                        return Number(res.pcImg).toFixed(0) + 'P'
                    }
                }
                , {
                    field: 'phoneImg',
                    title: '手机壁纸',
                    align: 'center',
                    sort: true,
                    totalRow: true,
                    templet: function (res) {
                        return Number(res.phoneImg).toFixed(0) + 'P'
                    }
                }
                , {field: 'publish_date', title: '发布时间', align: 'center', sort: true}
                , {field: 'create_date', title: '下载时间', align: 'center', sort: true}
                , {field: 'dir', title: '存储路径', align: 'center', sort: true}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', align: 'center', minWidth: 174}
            ]]
            , page: true
        });

        //工具栏事件
        table.on('toolbar(test)', function (obj) {
            const checkStatus = table.checkStatus(obj.config.id);
            let value;
            switch (obj.event) {
                case 'getCheckData':
                    value = checkStatus.data;
                    layer.alert(JSON.stringify(value));
                    break;
                case 'getCheckLength':
                    value = checkStatus.data;
                    layer.msg('选中了：' + value.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选')
                    break;
                case 'isTips':
                    layer.msg('Tips：点击标题可打开原网页哦！')
                    break;

            }
        });
        //监听行工具事件
        table.on('tool(test)', function (obj) {
            const data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url: '/delData', method: 'post', data: {
                            'type': 1, 'id': data.id
                        }, success: function (data) {
                            if (200 === data.code || '200' === data.code) {
                                obj.del();
                                layer.close(index);
                            } else {
                                layer.close(index);
                                layer.msg('删除失败')
                            }
                        }
                    })
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2
                    , value: data.url
                }, function (value, index) {
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'copy') {
                let flag;
                if (data.url.includes("read")) {
                    flag = copyText('http://t66y.com/' + data.url); //传递文本
                } else {
                    flag = copyText('http://t66y.com/htm_data/' + data.url); //传递文本
                }
                layer.msg(flag ? "复制成功！" : "复制失败！");
            } else if (obj.event === 'reDownload') {
                $.ajax({
                    url: '/addAgainDownload', method: 'post', data: {
                        'type': 1, 'id': data.id
                    }, success: function (data) {
                        if (200 === data.code || '200' === data.code) {
                            obj.del();
                            layer.msg(data.msg)
                        } else {
                            layer.msg(data.msg)
                        }
                    }
                })
            }
        });
    });

    function copyText(text) {
        const textarea = document.createElement("input");//创建input对象
        const currentFocus = document.activeElement;//当前获得焦点的元素
        document.body.appendChild(textarea);//添加元素
        textarea.value = text;
        textarea.focus();
        if (textarea.setSelectionRange)
            textarea.setSelectionRange(0, textarea.value.length);//获取光标起始位置到结束位置
        else
            textarea.select();
        let value;
        try {
            value = document.execCommand("copy");//执行复制
        } catch (eo) {
            value = false;
        }
        document.body.removeChild(textarea);//删除元素
        currentFocus.focus();
        return value;
    }
</script>

</body>
</html>